:global(html)
    font-size: 19px

main
    display: flex

p
    margin: 0

.browser
    flex: 1

    .path
        .path-item
            display: inline-block

    .folders
        .folder
            padding: 10px

.checkout
    width: 300px

    .items
        min-height: 300px

        .checkout-item
            padding: 10px
            cursor: pointer
            display: flex

            .name
                flex: 1

            &:hover
                background: #c7294146

            &:active
                background: #cf29426a

    .submit
        padding: 10px
        border-top: 1px solid

        .totals
            display: flex
            margin-bottom: 15px

            .text
                flex: 1